 {
  /*.carousel .carousel-item {
  height: 800px;
  width: 1500px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  align-items: center;
  min-height: 500px;
  margin: auto;
}
*/
}
