nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(116.08deg, #f2f2f2 0.56%, #c8d8e4 67.13%);
  color: rgb(0, 0, 0);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
