nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(116.08deg, #f2f2f2 0.56%, #c8d8e4 67.13%);
  color: rgb(0, 0, 0);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  
}



.nav-buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* .login {
  border-radius: 25px;
  background: #ffffff;
  padding: 0.5rem;
  height: 40px;
  width: 130px;
  border: none;
} */

.signup {
  border-radius: 25px;
  background: #52ab98;
  padding: 0.5rem;
  height: 40px;
  width: 130px;
  border: none;
  color: #fff;
  font-weight: bold;
}
