.main-footer {
  background-color: black;
  padding-top: 2rem;
  color: white;
  bottom: 0;
}

.column {
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}
