.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba();
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.popup .h2 {
  text-align: center;
  color: #fff;
  margin: 10px 0px 20px 0;
  font-size: 25px;
}

.popup .form-element {
  margin: 15px 0px;
  
}

.login-popup .main .button{
  width: 331.38px;
  height: 69.76px;
  border: none;
  outline: none;
  font: size 16px;
  background: #fff;
  color: #5C9CAD;
  border-radius: 10px;
  cursor: pointer;
}

::placeholder { 
  font: size 14px;
  color: #fff;
}

.popup .form-element input[type="text"],
.popup .form-element input[type="password"] {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 18.5px;
  font: size 14px;
  color: #fff;
}

.popup .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.popup .form-element button {
  width: 331.38px;
  height: 69.76px;
  border: none;
  outline: none;
  font: size 16px;
  background: #fff;
  color: #5C9CAD;
  border-radius: 10px;
  cursor: pointer;
}

.popup .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #2B6777;
}