.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 380px;
  padding: 20px 30px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.inner-popup {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}

.popup .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #222;
  text-align: center;
  line-height: 10px;
  border-radius: 100px;
  cursor: pointer;
}
